venv/

/backend/.env
/backend/db.sqlite3


/frontend/.package-lock.json
/frontend/node_modules
README.md

__pycache__/
*.pyc
.venv/

frontend/vite.config.js
frontend/package.json
frontend/package-lock.json
__init__.py
